<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- IE=edge,chrome=1 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- CSS width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peanut App Inspector</title>
    <link rel="shortcut icon" type="images/x-icon" href="/static/pic/favicon.ico">
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE H5 Patch -->
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <!-- Width Media Query Polyfill -->
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

    <link href="/static/adb-inspector/main.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Peanut App Inspector</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse"></div>
    </div>
</nav>

<div class="adb_container">
    <div class="adb_info">
        <div class="adb_info_container"
             style="width: 300px;display:block;word-break: break-all;word-wrap: break-word;"></div>
    </div>
    <div class="adb_screen">
        <div class="adb_screen_container"></div>
    </div>
    <div class="adb_tree">
        <div class="adb_tree_container"></div>
    </div>
</div>

<!-- jQuery -->
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/jquery/jquery.color-2.1.2.min.js"></script>

<script src="/static/adb-inspector/main.js"></script>

<div class="footer">
    <span>&copy; 2017-2018 <a href="#" target="_blank">Peanut App Inspector</a></span>
</div>
</body>
</html>